export TWITTER_CONSUMER_TOKEN_KEY="4wbt7bJwCxgSiHXFDABwcGlXx"
export TWITTER_CONSUMER_TOKEN_SECRET="Mdk5hVqsMKhZkboUxn8li4EZgfuJGfWyIMiUfEw4kIqcbpBvwe"
export TWITTER_ACCESS_TOKEN_KEY="912461290509033472-MKSwko3wvvgFpfEFJNVs40Y9MyfwynQ"
export TWITTER_ACCESS_TOKEN_SECRET="mdfyZeCuh16nsfOHcMVdBdPEG34RSVzmvlR07de3ReykO"
export DATABASE_HOST="jdbc:mysql://localhost:3306/ubiqannbot?autoReconnect=true&useSSL=false&useUnicode=yes&characterEncoding=UTF-8&connectionCollation=utf8mb4_general_ci"
export DATABASE_USER="root"
export DATABASE_PASSWORD="root"
